{% extends 'base.html' %}
{% load static %}


{% block title %}
    پرسش و پاسخ
{% endblock %}


{% block content %}
    <section class="container-fluid pt-5 pb-4 pb-lg-0 intro-section">

        <div class="container mb-5  box br-top p-5 ">
            <h5 class="mb-4 bt-color">پرسش و پاسخ</h5>
            <div class="row">
                <div class="col-md-12">

                    <h6 class="IRANSansWeb_Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ ؟ </h6>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .
                    </p>
                    <h6 class="IRANSansWeb_Medium">لورم ایپسوم متن ساختگی با تولید سادگی ؟ </h6>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </p>
                    <h6 class="IRANSansWeb_Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده ؟ </h6>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .
                    </p>
                    <h6 class="IRANSansWeb_Medium">لورم ایپسوم متن ساختگی با تولید سادگی ؟ </h6>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    </p>

                </div>
            </div>

        </div>

        <object class="d-none d-xl-block" type="image/svg+xml" data="{% static 'Images/Svg/desktop-wave.svg' %}"></object>


    </section>

    <section id="reason" class="container py-3 py-sm-3 ">
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/advis_stats.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/Phone-Communication-Support.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/approved-unlock.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>

        </div>
    </section>


{% endblock %}