{% extends 'base.html' %}
{% load static %}


{% block title %}
    home | صفحه اصلی
{% endblock %}

{% block content %}
    <section id="above-page" class="container-fluid mb-5 mb-3 ">
        <div class="above-page-img">
            <img src="{% static 'Images/bg1.jpg' %}" alt="" title="" class="d-lg-block d-none">
        </div>
        <div class="container">
            <div class="row">
                <div class="above-page-content m-auto">
                    <div class="above-page-tagline">
                        <h1 class="main-tagline IRANSansWeb_Bold">جامع ترین سامانه مشـاوره آنلاین</h1>
                        <p class="explaine-tagline">
                            <span> با بیش از 250 مشاور متخصص به صورت آنلاین مشاوره دریافت کنید </span>
                        </p>
                    </div>
                    <div class="above-page-search">
                        <form name="searchform" action="{% url 'consultant:consultant_list_search' %}"
                              onsubmit="return validateForm()">
                            <input name="q" type="text" class="srch-input" placeholder="جستجوی کارشناس، رشته .."/>
                            <button style="border: 0px; background: transparent;" type="submit">
                                <a href="#" class="search-icon">
                                    <i class="fas fa-search text-danger fa-2x"></i>
                                </a>
                            </button>
                        </form>
                    </div>

                    <div class="last-question-time d-lg-block d-none">
                        <div class="d-flex flex-row justify-content-center">
                            <a href="{% url 'home:contact_us' %}" class="btn btn-danger text-white rad25 py-2 m-2"><i
                                    class="fa fa-gavel  ml-2"></i>
                                مشاور ما شوید </a>
                            <a href="{% url 'home:contact_us' %}" class="btn btn-purple text-white rad25 py-2 m-2"><i
                                    class="fa fa-stethoscope  ml-2"></i>
                                راهنمایی انتخاب مشاور </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid bg-white my-5 p-4 ">
        <div class="max_w mx-auto d-flex flex-lg-row flex-column text-lg-right text-center mt-lg-0 mt-5">
            <div>
                <img id="mo_pic" src="{% static 'Images/moshavere.png' %}"/>
            </div>
            <div class="pt-lg-5">
                <h4 class="IRANSansWeb_Medium"> نیاز به مشاوره دارید ؟</h4>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم از صنعت چاپ و گرافیک است.
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    چاپ و گرافیک است.
                </p>
            </div>
        </div>
    </section>


    <section class="container mt-3 p-4 max-900 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center mb-4">گفتگو و مشاوره با بهترین مشاوران</h5>
        <a href="{% url 'consultant:consultant_list' %}">
            <div class="row box-transform">
                <div class="col-lg-12 value-body text-center mb-3 p-3 brbtm">
                    <div class="row">
                        <div class="col-md-3 pt-3 pr-3">

                            <span>گفتگو و مشاوره با  <b class="IRANSansWeb_Medium">پزشکان سلامت</b></span>
                        </div>
                        <div class="col-md-7 px-3">
                            <ul class="Consulation-list">

                                {% for consultant in consultants %}
                                    <li>
                                        <i class="online"></i>
                                        <img src="
                                                {% if consultant.consultantprofile.image %}{{ consultant.consultantprofile.image.url }}{% else %}{% static 'Images/avatar.jpg' %}{% endif %}"
                                             class="rounded-circle img-fluid"/>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="col-md-2 pt-3 pr-3">
                            <span class="IRANSansWeb_Light">+951 مشاور دیگر .. &nbsp;</span>
                            <i class="fas fa-chevron-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="text-center my-3">
            <a href="{% url 'consultant:consultant_list' %}" class="btn btn-danger text-white px-5">+ مشاهده دیگر
                مشاوران </a>

        </div>
    </section>


    <section id="reason" class="container py-3 py-sm-3 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center">دلایل انتخاب مجموعه ما </h5>
        <div class="row  mt-4 mx-1">
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/advis_stats.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">طراحی استاندارد</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/Phone-Communication-Support.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">رنگبندی مناسب</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-3">
                <div class="value-body d-flex flex-sm-row flex-column text-sm-right text-center">
                    <div class="mt-4">
                        <img src="{% static 'Images/approved-unlock.png' %}"/>
                    </div>
                    <div class="p-3">
                        <h6 class="IRANSansWeb_Medium">زیبا و چشم نواز</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container my-4">
        <div id="foottop" class="row p-3 value-body grad-bg m-2 text-center">
            <div class="col-md-4 d-flex flex-sm-row  flex-wrap flex-column float-left text-md-left text-center">
                <a href="#"><img src="{% static 'Images/logo2.png' %}"/></a><br/>
            </div>
            <div class="col-md-8 pt-3 d-flex flex-md-row flex-wrap flex-column text-md-right text-center">
                <span class="mb-2 pl-3 IRANSansWeb_Medium text-white"><i class="fa fa-stethoscope fa-2x ml-2"></i>راهنمایی و مشاوره :</span>
                <a href="#" class="rounded-btn text-white support-phone IRANSansWeb_Bold">017-2345678 __ 09301234567</a>
            </div>
        </div>
    </section>

    <section id="least_blog" class="container  py-3 py-sm-3 ">
        <h5 class="IRANSansWeb_Medium bt-color text-center">آخرین های مقالات </h5>
        <div class="row value-body mt-4 mx-1">

            <div class="col-lg-7  py-3 pl-3">
                <div class="row">
                    {% for blog in popular_blog %}
                        <div class="col-lg-6 mb-3">
                            <a href="{{ blog.get_absolute_url }}"
                               class="IRANSansWeb_Medium">{{ blog.title }}</a>
                            <p class="pt-3"> {{ blog.body|truncatechars:200 }} </p>
                            <a href="{% url 'blog:blog_list' %}" class="btn btn-danger text-white">بیشتر
                                بدانید
                                ..</a>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <a href="{{ blog.get_absolute_url }}">
                                <img src="{{ blog.image.url }}" class="img-fluid rad10"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div id="s_post" class="col-lg-5 py-3 pl-3">
                <div class="d-flex flex-column">
                    {% for blog in last_blogs %}
                        <div class="d-flex flex-md-row flex-column mb-2">
                            <img src="{{ blog.image.url }}" class="img-fluid ml-3 rad10 mb-2"/>
                            <div>
                                <a href="{{ blog.get_absolute_url }}" class="IRANSansWeb_Medium">{{ blog.title }}</a>
                                <p> {{ blog.body|truncatechars:100 }} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>





{#        <section class="container mt-5">#}
{#            <h5 class="IRANSansWeb_Medium text-center bt-color">نظرات کاربران ما</h5>#}
{#            <div id="owl-Comments" class="owl-carousel owl-theme text-right ">#}

{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/11.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{##}
{#                                    <i class="fas fa-star  text-warning"></i>#}
{#                                    <i class="fas fa-star  text-warning"></i>#}
{#                                </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/12.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{#                                <i class="fas fa-star text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{##}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/11.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{#                                <i class="fas fa-star text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/45.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{#                                <i class="fas fa-star text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/11.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{#                                <i class="fas fa-star text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{##}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="card p-4">#}
{##}
{#                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و گرافیک است لورم ایپسوم متن ساختگی با#}
{#                        تولید سادگی نامفهوم از صنعت چاپ و گرافیک است. </p>#}
{##}
{#                    <div class="d-flex flex-row">#}
{#                        <img src="{% static 'Images/46.jpg' %}" class="img-fluid rounded-circle ml-3 pic55"/>#}
{##}
{#                        <div>#}
{#                            <p class="text-dark IRANSansWeb_Medium bottom_p"> سیما محمدی</p>#}
{#                            <span>#}
{#                                <i class="fas fa-star text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                                <i class="fas fa-star  text-warning"></i>#}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </section>#}

    <script>
        function validateForm() {
            var x = document.forms["searchform"]["q"].value;
            if (x == "") {
                return false;
            }
        }
    </script>

{% endblock %}