{% load static %}


<footer class="container-footer  mt-5">
    <section id="footer-content">
        <div class="container">
            <div class="row pt-4">
                <div class="col-md-2  col-sm-4 col-6 py-3">
                    <h5 class="IRANSansWeb_Medium"> خدمات ما : </h5>
                    <ul>
                        <li>
                            <a href="Reservationlist.html" target="_blank" title="">جستجوی پیشرفته</a>
                        </li>
                        <li>
                            <a href="Reservation.html" target="_blank" title="">رزرو وقت </a>
                        </li>
                        <li>
                            <a href="Consultation.html" target="_blank" title="">مشاوره </a>
                        </li>
                        <li>
                            <a href="Blog.html" target="_blank" title="">وبلاگ</a>
                        </li>
                        <li>
                            <a href="Blogdetails.html" target="_blank" title="">جزئیات وبلاگ </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-6  py-3">
                    <h5 class="IRANSansWeb_Medium"> صفحات ما : </h5>
                    <ul>
                        <li>
                            <a href="Faq.html" target="_blank" title="">سوالات متداول</a>
                        </li>

                        <li>
                            <a href="Login.html" target="_blank" title="">ورود</a>
                        </li>
                        <li>
                            <a href="Register.html" target="_blank" title="">عضویت</a>
                        </li>
                        <li>
                            <a href="AboutUs.html" target="_blank" title="">درباره ما</a>
                        </li>
                        <li>
                            <a href="ContactUs.html" target="_blank" title="">تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 py-3">
                    <h5 class="IRANSansWeb_Medium">همراهان ما :</h5>
                    <a href="#" target="_blank"><img src="{% static 'Images/Svg/Aparat.svg' %}" class="p-3 img-fluid"/></a><br/>
                    <a href="#" target="_blank"><img src="{% static 'Images/Svg/filimo.svg' %}" class="p-3 img-fluid"/></a><br/>
                    <a href="#" target="_blank"><img src="{% static 'Images/Svg/Aparat.svg' %}" class="p-3 img-fluid"/></a>
                </div>
                <div class="col-md-5  py-3">
                    <h5 class="IRANSansWeb_Medium">دانلود اپلیکیشن : </h5>
                    <div>
                        <a href="#"><img src="{% static 'Images/googleplay.png' %}" class="p-2"/></a>
                        <a href="#"><img src="{% static 'Images/bazar.png' %}" class="p-2"/></a>
                    </div>

                    <div id="certi" class="pt-5">
                        <h5 class="IRANSansWeb_Medium">گواهینامه ها :</h5>
                        <a href="#">
                            <img src="{% static 'Images/etehadie.png' %}" class="p-2"/>
                        </a>
                        <a href="#">
                            <img src="{% static 'Images/etehadie.png' %}" class="p-2"/>
                        </a>
                        <a href="#">
                            <img src="{% static 'Images/etehadie.png' %}" class="p-2"/>
                        </a>
                        <a href="#">
                            <img src="{% static 'Images/etehadie.png' %}" class="p-2"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-allright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="https://www.rtl-theme.com/author/shamim831/" class="text-white ">
                        کلیه حقوق این قالب برای طراح محفوظ می باشد - عرضه شده تنها در راست چین .
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>


</body>
</html>
