{% load static %}

<body id="home">
<header class="nav-container">
    <nav class="sina-nav mobile-sidebar navbar-fixed" data-top="60">
        <div class="container">

            {% if not request.user.is_authenticated %}
                <div class="extension-nav">
                    <ul class="pt-2">
                        <li>
                            <a id="loginbtn" href="{% url 'account:login' %}" class="btn btn-link p-1 ml-2">
                                <img src="{% static 'Images/Svg/login.svg' %}"/><span class="mr-1">ورود</span>
                            </a>
                        </li>
                        <li>
                            <a id="loginbtn" href="{% url 'account:register' %}" class="btn btn-link p-1 ml-2">
                                <img src="{% static 'Images/Svg/user.svg' %}"/><span class="mr-1">ثبت نام</span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}

                <div class="extension-nav pt-2 pt-lg-3 pt-md-3 ml-lg-2 ml-md-2 pt-sm-2 pt-xl-2 pt-xs-2">
                    <a href="{% url 'account:profile' %}">
                        <img style="height: 35px; width: 35px;" src="{% static 'Images/profile.png' %}"
                             alt="profile picture">
                    </a>
                </div>

            {% endif %}

            <div class="sina-nav-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="sina-brand pl-4" href="{% url 'home:home' %}">
                    <img src="{% static 'Images/logo.png' %}" class="img-fluid"/>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="sina-menu sina-menu-center IRANSansWeb">
                    <li><a href="{% url 'home:home' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'blog:blog_list' %}">وبلاگ</a></li>
                    <li><a href="{% url 'consultant:consultant_list' %}">مشاوران</a></li>
                    <li><a href="{% url 'home:faq' %}">پرسش و پاسخ</a></li>
                    <li><a href="{% url 'home:about_us' %}">درباره ما</a></li>
                    <li><a href="{% url 'home:contact_us' %}">ارتباط با ما</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>



