{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block title %}
    فهرست مشاوران
{% endblock %}


{% block content %}
    <section class="container mt-3 p-lg-3">
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-3 leftcol">
                <div class="box p-4">
                    <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 rad25"><i class="fas fa-filter pl-2"></i>فیلترها
                    </h6>
                    <div class="mt-3 pr-3 pl-2 pt-2 brfilter">
                        <form action="{% url 'consultant:consultant_list_filter' %}">
                            <input name="consultant_name" class="form-control" type="text" placeholder="نام مشاور">


                            <input name="major" class="form-control" type="text" placeholder="رشته">


{#                            <select class="custom-select mb-2">#}
{#                                <option value="o" selected="selected">مرتب سازی</option>#}
{#                                <option value="score">امتیاز</option>#}
{#                                <option value="created">تاریخ عضویت</option>#}
{#                                <option value="student_count">تعداد دانش آموز</option>#}
{#                            </select>#}

{#                            span class="IRANSansWeb_Medium">جنسیت :</span>#}
{#                            <div>#}
{#                                <div class="icheck-info">#}
{#                                    <input value="male" type="checkbox" id="primary1" name="male"/>#}
{#                                    <label for="primary1">آقا</label>#}
{#                                </div>#}
{#                                <div class="icheck-info">#}
{#                                    <input type="checkbox" id="primary2" name="female"/>#}
{#                                    <label for="primary2">خانم</label>#}
{#                                </div>#}
{#                            </div><#}


                            <button id="searcbtn" class="btn btn-success rad25  btn-block p-2 text-white">جستجو</button>
                        </form>
                    </div>


                </div>
{#                <div class="box p-4 text-dark mt-4">#}
{#                    <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 rad25">دسته بندی ها</h6>#}
{#                    <div id="skill" class="p-2">#}
{#                        <ul>#}
{#                            <li>#}
{#                                <a href="#">تخصص 1<span#}
{#                                        class="badge badge-secondary mr-3  p-2 rad25 float-left text-dark">125</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 2<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">856</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 3<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">7459</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 4<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">965</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 5<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">8123</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 6<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">7459</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 7<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">965</span></a><br/>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">تخصص 8<span#}
{#                                        class="badge badge-secondary p-2 mr-3 rad25 float-left text-dark">8123</span></a><br/>#}
{#                            </li>#}
{##}
{##}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>


            <div class="col-lg-9 col-md-8">

                {% for object in object_list %}
                    <div class="box p-4 mt-3">
                        <div class="row">
                            <div class="col-lg-2 text-lg-right text-center">
                                <a href="{{ object.get_absolute_url }}">
                                    <img src="{% if not object.consultantprofile.image %}{% static 'Images/avatar.jpg' %}{% else %}{{ object.consultantprofile.image.url }}{% endif %}"
                                         class="img-fluid rounded-circle mb-lg-0 mb-3"/>
                                </a>
                                {% if object.consultantprofile.status %}
                                    <p class="container mt-3 mb-0 IRANSansWeb_Medium text-success"><i
                                            class="online ml-2"></i>
                                        آماده مشاوره
                                    </p>
                                {% else %}
                                    <p class="container mt-3 mb-0 IRANSansWeb_Medium text-danger">
                                        <span class="text-danger ml-1">●</span>
                                        <small> امکان مشاوره نمی باشد </small>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-lg-10 pr-lg-3 text-lg-right text-center">

                                <ul>
                                    <li>
                                    <span class="float-lg-left ">
                                        {% ratings object %}
                                    </span>
                                    </li>
                                    <li>
                                        <a href="{{ object.get_absolute_url }}"><h5
                                                class="IRANSansWeb_Medium">{{ object.get_full_name }}</h5></a>
                                    </li>
                                    <li>
                                        <p><span
                                                class="font-weight-bold"> رشته : </span> {{ object.consultantprofile.major_university }}
                                        </p>
                                        <span class="bg-warning py-1 px-2 text-dark  rad25">ظرفیت مشاور {{ object.consultantprofile.get_capacity }} نفر</span>
                                        -
                                        <span class="IRANSansWeb_Medium text-primary">{{ object.consultantprofile.comments.all.count }} نظر</span>
                                        <p class="mt-2 mb-lg-0">{{ object.consultantprofile.description|truncatechars:70 }}</p>
                                    </li>
                                    <li>
                                        <a href="{{ object.get_absolute_url }}"
                                           class="btn btn-danger float-lg-left text-white rad25">جزئیات مشاور</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                {% endfor %}



                {% if filter != True %}

                    {% if is_paginated %}
                        <div class="text-center">
                            <ul class="pagination mt-3">

                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                    </li>
                                {% endif %}

                                {% for page in paginator.page_range %}
                                    <li class="page-item{% if page_obj.number == page %} active {% endif %}"><a
                                            class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    {% endif %}


                {% else %}

                    {% if is_paginated %}
                        <div class="text-center">
                            <ul class="pagination mt-3">

                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'consultant:consultant_list_filter' %}?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">قبلی</a>
                                    </li>
                                {% endif %}

                                {% for page in paginator.page_range %}
                                    <li class="page-item{% if page_obj.number == page %} active {% endif %}"><a
                                            class="page-link"
                                            href="{% url 'consultant:consultant_list_filter' %}?{{ request.GET.urlencode }}&page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% url 'consultant:consultant_list_filter' %}?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">بعدی</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}