{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% load jalali_tags %}
{% load ratings %}
{% load widget_tweaks %}

{% block title %}
    جزئیات مشاور {{ object.get_full_name }}
{% endblock %}

{% block content %}
    <section class="mt-3 ">

        <div class="container">
            <div class="row box  mx-wh  p-4  bg-half">
                <div class="col-md-3  text-center">
                    <img src="{% if object.consultantprofile.image %}{{ object.consultantprofile.image.url }}{% else %}{% static 'Images/avatar.jpg' %}{% endif %}"
                         class="img-fluid rounded-circle border pic160"/><br/>
                    {% if object.consultantprofile.status %}
                        <p class="mt-3 mb-0 IRANSansWeb_Medium text-success"><i class="online ml-2"></i>آماده مشاوره</p>
                    {% else %}
                        <p class="mt-3 mb-0 IRANSansWeb_Medium text-danger"><span class="text-danger ml-1">●</span>
                            امکان مشاوره نمی باشد</p>
                    {% endif %}
                    <span class="bg-warning py-1 px-2 text-dark  rad25"> ظرفیت مشاور : <span
                            class="{% if object.consultantprofile.get_capacity < 3 %}text text-danger{% endif %}">{{ object.consultantprofile.get_capacity }} نفر
                    </span>
                </div>
                <div class="col-md-9 text-md-right text-center">
                    <h3 class="IRANSansWeb_Medium text-white b-dark mb-0">{{ object.get_full_name }}</h3>

                    <span class="float-md-left float-none">
                        {% ratings object read_only=True %}
                    </span>

                    <p class="text-sm-white IRANSansWeb_Medium text-white b-dark">
                        <img style="width: 20px; height: 20px" src="{% static 'Images/Svg/uni.svg' %}"
                             alt="university SVG"/>
                        <span class="mr-1">
                            {{ object.consultantprofile.university }}
                        </span>
                    </p>


                    <span class="text-sm-dark IRANSansWeb_Medium text-dark b-dark"> <img
                            style="width: 20px; height: 20px"
                            src="{% static 'Images/Svg/graduation.svg' %}"
                            alt="university SVG"/>
                        <span class="mr-1">
                            <span class="font-weight-bold"> رشته: </span> {{ object.consultantprofile.major_university }}
                        </span>
                    </span>


                    <p>
                        <span class="IRANSansWeb_Medium"> {{ object.consultantprofile.students.all.count }} دانش آموز در حال مشاوره</span>
                        <span class="IRANSansWeb_Medium text-primary  p-2 rad12 mb-0">
                            <i class="far fa-comment pl-2"></i>{{ object.consultantprofile.comments.all.count }} نظر</span>
                    </p>


                    <ul>
                        <li>
                            <span class="font-weight-bold"></span>
                            <span></span>
                        </li>
                        <li>
                            <span class="font-weight-bold"></span>
                            <span> </span>
                        </li>
                    </ul>

                    {% if not request.user.type == 'consultant' %}
                        {% if request.user.is_authenticated %}

                            {% if request.user.studentprofile.consultant == object.consultantprofile and request.user.studentprofile.subscriber_to_end %}
                                <p class="btn btn-primary px-4 py-2 text-white  rad25 float-md-left mb-3">
                                    {{ request.user.studentprofile.subscriber_to_end }}
                                </p>

                            {% else %}

                                {% if object.consultantprofile.status == True and not request.user.studentprofile.consultant %}
                                    <a href="#Chat" onclick="goToId('#Chat', 1000); return false;"
                                       class="btn btn-primary px-4 py-2 text-white  rad25 float-md-left mb-3"><i
                                            class="fas fa-check"></i>
                                        انتخاب مشاور
                                    </a>
                                {% else %}

                                {% endif %}

                            {% endif %}

                        {% else %}
                            <a href="{% url 'account:login' %}"
                               class="btn btn-primary px-4 py-2 text-white  rad25 float-md-left mb-3">
                                لطفا برای انتخاب مشاور وارد شوید
                            </a>
                        {% endif %}

                    {% endif %}
                </div>
            </div>

            <div class="row mt-4 p-4  mx-wh box">
                <div class="col-md-12">
                    <h5 class="IRANSansWeb_Medium bg-light rad25 py-2 px-3 ">درباره مشاور</h5>
                    <p class="text-justify">
                        {{ object.consultantprofile.description|safe }}
                    </p>
                </div>
            </div>

            {% if object.consultantprofile.status == True and not request.user.type == 'consultant' and not request.user.studentprofile.consultant and request.user.is_authenticated %}
                <div id="Chat" class="mt-4 p-4  mx-wh box text-md-right text-center">
                    <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">گفتگوی متنی با مشاور</h5>
                    <div class="row">

                        {#                                                <div class="col col-lg-6 col-xs-6">#}
                        {#                                                    <p>#}
                        {#                                                        برای دریافت مشاوره یکی از گزینه های زیر را انتخاب کرده و بعد از پرداخت مبلغ مورد#}
                        {#                                                        نظر، مشاوره با مشاور مورد نظر برای شما فعال خواهد شد (می توانید در پروفایل خود#}
                        {#                                                        آن رامشاهده نمایید)#}
                        {#                                                    </p>#}
                        {#                                                    <a class="col col-xs-6" href="{% url 'consultant:consultant_select' pk=object.pk days=30 %}">#}
                        {#                                                                        <span class="dash-g p-2 rad25 ">#}
                        {#                                                                            <span class="pl-3 container"> <b> یک ماهه </b>{{ object.consultantprofile.price|price:1|separator }} تومان </span>#}
                        {#                                                                        </span>#}
                        {#                                                    </a>#}
                        {#                                                    <a class="col-xs-6" href="{% url 'consultant:consultant_select' pk=object.pk days=60 %}">#}
                        {#                                                                        <span class="dash-g p-2 rad25 mb-3 mr-2">#}
                        {#                                                                            <span class="pl-3 container"><b> دو ماهه </b> {{ object.consultantprofile.price|price:2|separator }} تومان </span>#}
                        {#                                                                        </span>#}
                        {#                                                    </a>#}
                        {#                                                    <br> <br>#}
                        {#                                                    <a href="{% url 'consultant:consultant_select' pk=object.pk days=90 %}">#}
                        {#                                                                        <span class="dash-g p-2 rad25 mb-6 ">#}
                        {#                                                                            <span class="pl-3 container"><b> سه ماهه </b> {{ object.consultantprofile.price|price:3|separator }} تومان </span>#}
                        {#                                                                        </span>#}
                        {#                                                    </a>#}
                        {#                                                    <a href="{% url 'consultant:consultant_select' pk=object.pk days=180 %}">#}
                        {#                                                                        <span class="dash-g p-2 rad25 mb-3 mr-2">#}
                        {#                                                                            <span class="pl-3 container"><b> شش ماهه </b> {{ object.consultantprofile.price|price:6|separator }} تومان </span>#}
                        {#                                                                        </span>#}
                        {#                                                    </a>#}
                        {#                                                    <br> <br>#}
                        {#                                                    <a href="{% url 'consultant:consultant_select' pk=object.pk days=360 %}">#}
                        {#                                                                        <span class="dash-g p-2 rad25 mb-3 ">#}
                        {#                                                                            <span class="pl-3 container"><b> یک ساله </b> {{ object.consultantprofile.price|price:12|separator }} تومان </span>#}
                        {#                                                                        </span>#}
                        {#                                                    </a>#}
                        {#                                                </div>#}




                        <div class="col-md-6 container shadow-sm mb-3 mr-3">
                            <p class="font-13 mt-3">برای دریافت مشاوره یکی از گزینه های زیر را انتخاب کرده و بعد از
                                پرداخت مبلغ مورد
                                نظر، </br> مشاوره با مشاور مورد نظر برای شما فعال خواهد شد (می توانید در پروفایل خود آن
                                رامشاهده نمایید)
                            </p>
                            <hr>

                            <form method="get" action="{% url 'consultant:consultant_select' %}">

                                <select name="days" required class="form-control">
                                    <option value="30" selected>یک ماهه</option>
                                    <option value="60">دو ماهه</option>
                                    <option value="90">سه ماهه</option>
                                    <option value="180">شش ماهه</option>
                                    <option value="360">یک ساله</option>
                                </select>


                                <input type="hidden" name="consultant_pk" value="{{ object.pk }}">


                                <button type="submit" class="btn btn-secondary col col-md-12 wide container">تایید
                                </button>

                            </form>

                        </div>


                    </div>
                </div>
            {% endif %}

            <div class="mt-4 p-4  mx-wh box">
                <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                <ul>

                    {% for comment in object.consultantprofile.comments.all %}
                        {% if comment.status == True %}
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">{{ comment.user.user.get_full_name }}</span>
                                        <p class="mb-0">{{ comment.text }}</p>
                                    </div>

                                    <div class="float-left">
                                        <span>{{ comment.created.time }}</span> -
                                        <span>14{{ comment.created.date|to_jalali }}</span>
                                    </div>

                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>


                {% if request.user.studentprofile.consultant == object.consultantprofile %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="py-3 px-sm-5 sencom">
                            <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                            <img src="{% static 'Images/avatar.jpg' %}" class="img-fluid mb-2 rounded-circle"/>
                            <div class="form-group">

                                <div>
                                    {% ratings object %}
                                </div>
                                {% render_field form.text style="min-height: 150px!important" cols="60" rows="9" placeholder="دیدگاه" %}

                            </div>
                            <button type="submit" class="btn btn-warning mb-3">ارسـال &nbsp;<i
                                    class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>

                {% else %}

                    <form>
                        <div class="py-3 px-sm-5 sencom">
                            <h6 class="text text-danger IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">
                                برای ارسال دیدگاه باید مشاور را برای مشاوره انتخاب کرده باشید</h6>
                            <img src="{% static 'Images/avatar.jpg' %}" class="img-fluid mb-2 rounded-circle"/>
                            <div class="form-group">

                                <div>
                                    {% ratings object read_only=True %}
                                </div>
                                {% render_field form.text disabled="disabled" style="min-height: 150px!important" cols="60" rows="9" placeholder="دیدگاه" %}

                            </div>
                            <button type="submit" disabled class=" btn btn-warning mb-3">ارسـال &nbsp;<i
                                    class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                {% endif %}

            </div>


        </div>
    </section>
{% endblock %}



<script>
    function goToId(hash, animationTime) {
        var target = hash,
            scrollTop = target != "" ? $(target).offset().top : 0;
        $('html, body').stop().animate({
            'scrollTop': scrollTop
        }, animationTime, 'swing', function () {
            window.location.hash = target;
        });
    }
</script>

</body>
</html>
