{% extends 'base.html' %}
{% load static %}


{% block title %}
    جزئیات مشاور {{ object.get_full_name }}
{% endblock %}


{% block content %}
    <section class="mt-3 ">

        <div class="container">
            <div class="row box  mx-wh  p-4  bg-half">
                <div class="col-md-3  text-center">
                    <img src="{{ object.profile.image.url }}" class="img-fluid rounded-circle border pic160"/><br/>
                    <p class="pt-3 IRANSansWeb_Medium">کد مشاور : 1245</p>
                </div>
                <div class="col-md-9 text-md-right text-center">
                    <h3 class="IRANSansWeb_Medium text-white b-dark mb-0">{{ object.get_full_name }}</h3>
                    <span class="float-md-left float-none">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </span>
                    <p class="text-sm-white IRANSansWeb_Medium text-white b-dark">تخصص مشاور مورد نظر</p>
                    <p class="mt-3 mb-0 IRANSansWeb_Medium text-success"><i class="online ml-2"></i>آماده پاسخگویی</p>
                    <p>
                        <span class="IRANSansWeb_Medium"> 4158 سوال (در مدت 2 سال و 5 ماه )</span>
                        <span class="IRANSansWeb_Medium text-primary  p-2 rad12 mb-0"><i
                                class="far fa-comment pl-2"></i>2549 نظر</span>

                    </p>


                    <a href="#Chat" onclick="goToId('#Chat', 1000); return false;"
                       class="btn btn-success px-4 py-2 text-white  rad25 float-md-left mb-3  "><i
                            class="far fa-comment"></i> گفتگوی متنی با مشاور</a>
                    <a href="#Call" onclick="goToId('#Call', 1000); return false;"
                       class="btn btn-danger px-4 py-2 text-white rad25 float-md-left ml-md-3 mb-3"><i
                            class="fas fa-phone"></i> گفتگوی تلفنی با مشاور</a>
                </div>
            </div>

            <div class="row mt-4 p-4  mx-wh box">
                <div class="col-md-12">
                    <h5 class="IRANSansWeb_Medium bg-light rad25 py-2 px-3 ">درباره مشاور</h5>
                    <p class="text-justify">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>
            </div>

            <div id="Call" class="mt-4 p-4  mx-wh box text-md-right text-center">
                <h5 class="IRANSansWeb_Medium  bg-light py-2 px-3  mb-4 rad25"> تماس تلفنی با مشاور (در کمترین
                    زمان) </h5>

                <div class="row">

                    <div class="col-lg-7">
                        <p>
                            با مشاور تا کمتر از 3 ساعت دیگر به صورت تلفنی گفتگو کنید! مشاور با شما تماس خواهد گرفت و
                            حداکثر در 15 دقیقه پاسخگوی سوال شما خواهد بود. گوش به زنگ مشاور باشید.
                        </p>
                        <span class="dash-g p-2 rad25 mb-3">
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>تماس تلفنی</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال متن</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال عکس</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال صوت</span>
                        </span>

                    </div>
                    <div class="col-lg-2 text-md-left text-center my-3">
                        <span class="IRANSansWeb_Light fa-2x">
                           40,000 تومان
                        </span>
                    </div>
                    <div class="col-lg-3 text-md-left text-center">
                        <a href="Login.html" class="btn btn-danger px-4 text-white rad25  ml-3 "><i
                                class="fas fa-phone mt-2"></i> شروع تماس</a>
                    </div>
                </div>
            </div>


            <div id="Chat" class="mt-4 p-4  mx-wh box text-md-right text-center">
                <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">گفتگوی متنی با مشاور</h5>
                <div class="row">

                    <div class="col-lg-7">
                        <p>
                            با مشاور تا کمتر از 3 ساعت دیگر به صورت متنی گفتگو کنید! مشاور با شما چت خواهد کرد و حداکثر
                            در 15 دقیقه پاسخگوی سوال شما خواهد بود. گوش به زنگ مشاور باشید.
                        </p>
                        <span class="dash-g p-2 rad25 mb-3">
                            <span class="pl-3"><i class="fas fa-times fa-2x text-danger pl-1 "></i>تماس تلفنی</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال متن</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال عکس</span>
                            <span class="pl-3"><i class="fas fa-check pl-1 text-success"></i>ارسال صوت</span>
                        </span>
                    </div>
                    <div class="col-lg-2 text-md-left text-center my-3">
                        <span class="IRANSansWeb_Light fa-2x">
                            26,000 تومان
                        </span>
                    </div>
                    <div class="col-lg-3 text-md-left text-center">
                        <a href="Login.html" class="btn btn-success px-4 text-white rad25  ml-3 "><i
                                class="far fa-comment mt-2"></i> شروع چـت </a>
                    </div>
                </div>
            </div>


            <div class="mt-4 p-4  mx-wh box">
                <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                <ul>
                    <li>
                        <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                            <div>
                                <span class="IRANSansWeb_Medium pl-4">علی حمیدی</span>
                                <span>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                </span>
                                <p class="mb-0">پاسخ گویی شون عالی و خوب بود</p>
                            </div>

                            <div class="float-left">
                                <span>22 : 16</span> -
                                <span>1398/4/25</span>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                            <div>
                                <span class="IRANSansWeb_Medium pl-4">مهسا حمیدی</span>
                                <span>

                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                </span>
                                <p class="mb-0">خوبه راضی ام</p>
                            </div>

                            <div class="float-left">
                                <span>22 : 16</span> -
                                <span>1398/4/25</span>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                            <div>
                                <span class="IRANSansWeb_Medium pl-4">علی رضایی</span>
                                <span>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>

                                </span>
                                <p class="mb-0">تخصص شون عالی بود ممنون</p>
                            </div>

                            <div class="float-left">
                                <span>22 : 16</span> -
                                <span>1398/4/25</span>
                            </div>

                        </div>
                    </li>
                </ul>


                <div class="py-3 px-sm-5 sencom">
                    <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                    <img src="{% static 'Images/avatar.jpg' %}" class="img-fluid mb-2 rounded-circle"/>
                    <div class="form-group">
                        <input class="form-control w-75" type="text" placeholder="نـام"/>
                        <input class="form-control w-75" type="email" placeholder="ایـمیل"/>
                        <textarea class="form-control area" cols="60" rows="9" placeholder="دیدگاه"
                                  style="min-height: 150px!important"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning mb-3">ارسـال &nbsp;<i class="fa fa-paper-plane"></i>
                    </button>
                </div>


            </div>


        </div>
    </section>
{% endblock %}



<script>
    function goToId(hash, animationTime) {
        var target = hash,
            scrollTop = target != "" ? $(target).offset().top : 0;
        $('html, body').stop().animate({
            'scrollTop': scrollTop
        }, animationTime, 'swing', function () {
            window.location.hash = target;
        });
    }
</script>

</body>
</html>
