{% load static %}


{% include 'includes/header_refrence.html' %}


<body>

<section class="container-fluid pt-5 pb-4 pb-lg-0 intro-section">
    <section class="text-center text-white m-3">
        <h5 class="IRANSansWeb_Bold pb-2">ورود به سایت </h5>

        <div id="login" class="box text-center border-top-0 p-lg-4 p-3">
            <img src="{% static 'Images/Svg/login.svg' %}" style="width:45px"/>
            <p class="text-dark my-3">جهت ورود ، شماره موبایل خود را وراد نمایید</p>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}


                {{ form.phone }}
                {% for error in form.phone.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}


                {{ form.password }}
                <button class="btn btn-danger btn-block mb-3 py-3" type="submit">ورود به سایت<i
                        class="fa fa-chevron-left mr-2"></i></button>
            </form>

        <span class="text text-dark">تا به حال ثبت نام نکرده اید ؟</span>
        <a class="tex text-primary" href="{% url 'account:register' %}"><span>ثبت نام</span></a>


        </div>
    </section>
    <object class="d-none d-xl-block" type="image/svg+xml" data="{% static 'Images/Svg/desktop-wave.svg' %}"></object>

</section>

</body>
</html>
